@tailwind base;
@tailwind components;
@tailwind utilities;

* { font-family: 'Inter', sans-serif; }
body { background: #fff; }
.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }